extends layout

block content
    include nav.pug
    include footer.pug
    section#content
        h2 Dashboard
        p Welcome to #{user.firstName} #{user.lastName}

        form(action='/users/post' method='post')
            textarea(type="text" name="text" placeholder="What is happening?")
            input(type="text" name="tag" placeholder="Tags")
            input(type="file" name="picture" multiple)
            input(type='submit' value='Yabba')

        div#posts
            each post in posts
                div.post
                    div.profileImage
                        img(class=`avatar${post.username}` src="images/placeholder.jpeg")
                    div.postContent
                        div.row
                            p= post.username
                            p(id=`created${post._id}`)= post.created
                        div.postText
                            h3= post.text
                        div.postImage
                            img(src=`${post.picture}` alt="test")
                        div.postReplies
                            p 0 Comments