extends layout

block content
  include nav.pug
  include footer.pug
  section#content
    div#profileHead
        form#followForm(action="/userPage/follow" method="POST" style="float:right")
            input(type="hidden" name="followID" value=profile[0].username)
            input#followInput(type="submit" value="Follow")
            each users in user.following
                if users == profile[0].username
                    input#unfollowInput(type="submit" value="Unfollow")
        div#avatar
            img(src=profile[0].avatar alt='Avatar')
        div#profile
            div.follow
                h2#otherUser=profile[0].username
            div.follow
                div
                    p Posts
                    p#postCount=postCount
                div
                    button#showFollowers Followers
                        div#myModalF.modal
                            div.modal-content#modalContent
                                span.close &times;
                                br
                    p#followersCounts 0
                div
                    button#showFolllowing Following              
                        div#myModal.modal
                            div.modal-content
                                span.close &times;
                                each users in profile[0].following
                                    div.usernameLink
                                        form#userProfile(action="/userPage" method="post")
                                            input(type="hidden" name="username" value=users)
                                            input(type="submit" value=users)
                                            br
                    p#followingCount=numberOfFollowing
            div#profileInfo
                p 
                    strong Name 
                    | #{profile[0].firstName} #{profile[0].lastName}
                p 
                    strong Email 
                    | #{profile[0].email}
                p
    div.content
        div#profilePosts
            each post in posts
                div.post#yabbaPost
                    div.row
                        div.row
                            div.profileImage
                                img(src=`${profile[0].avatar}`)
                            div
                                div
                                    p= post.username
                                div
                                    label(id=`created${post._id}`)= post.created
                        div
                            if user.username === post.username
                                form(class="postdel" action="/users/delPost" method="post")
                                    input(type="hidden" name="_id" value=`${post._id}`)
                                    button(type="submit") 
                                        i(class="fas fa-trash-alt")
                    if post.replyTo != "none"
                        div.replyTo
                            a(href=`/dashboard#post${post.replyTo}` id=`replyTo${post._id}` class="replyTo")
                    div.postText
                            h3= post.text
                    if post.picture != "none"
                        div.postImage
                                img(src=`${post.picture}` alt="test")
                    if post.replyTo === "none"
                        div.postReplies
                            div(style="width:100%;")
                                div.comment
                                    div.profileImage
                                        img(class=`avatar${post.username}`)
                                    form(action="users/postReply" method="POST")
                                            textarea(type="text" name="text" placeholder="What is happening?" maxlength="167" required)
                                            input(type="hidden" name="replyTo" value=`${post._id}`)
                                            input(type="submit" value="Send")