extends layout

block content
  section
    h2 #{user.username}
    div.avatar
      img(src='images/avatar.jpeg' , alt='Avatar') 
      div
        p 
          strong Name 
          | #{user.firstName} #{user.lastName}
        p 
          strong Email 
          | #{user.email}
        p 
          strong Created 
          | #{user.created}
    p 
      strong Following 
      | #{user.following}
    p 
      strong Dark theme 
      | #{user.darkTheme}

